<launch>
  <arg name="robot_name" default="r6" />


  <group ns="$(arg robot_name)">
    <!-- Defualt launch file for ndt_ftm_te_py node -->
    <node pkg="pdag" type="pose_cloud_patch_node.py" name="pose_cloud_patch_node" clear_params="true" output="screen">
      <rosparam command="load" file="$(find pdag)/cfg/default.yaml" />
    </node>
  </group>

</launch>