<launch>
  <!-- Elevation mapping node -->
  <arg name="robot_name" default="r6" />

  <group ns="$(arg robot_name)">
    <remap from="/tf" to="tf" />
    <remap from="/tf_static" to="tf_static" />

    <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters.yaml" />
    <rosparam>
        map_frame: odom
        base_frame: ground_link
        pointcloud_topics: ["/r6/wildcat/odom/slam/wildcat_laser_velodyne"]
        initialize_frame_id: ['ground_link']
        initialize_tf_offset: [0.0]
      </rosparam>
    </node>
  </group>
</launch>
