<launch>
    <arg name="robot" default="squash" />
  
    <arg name="output" default="screen" />
    <arg name="respawn" default="true" />
  
    <arg name="run_costmap_local" default="true" doc="Should FTM traversability estimator be run?" />
    <arg name="run_ndt_te_estimation" default="true" doc="Should FTM traversability estimator be run?" />
  
    <!-- Squash -->
    <arg if="$(eval arg('robot') == 'squash')" name="pack" default="p5" />
    <arg if="$(eval arg('robot') == 'squash')" name="platform" default="squash" />
    <arg if="$(eval arg('robot') == 'squash')" name="robot_name" default="r6" />
    <arg if="$(eval arg('robot') == 'squash')" name="self_strike" default="squash" />
  
    <!-- Rat -->
    <arg if="$(eval arg('robot') == 'rat')" name="pack" default="p18" />
    <arg if="$(eval arg('robot') == 'rat')" name="platform" default="rat" />
    <arg if="$(eval arg('robot') == 'rat')" name="robot_name" default="r1" />
    <arg if="$(eval arg('robot') == 'rat')" name="self_strike" default="rat" />
  
    <arg name="ROSCONSOLE_FORMAT" default="${severity} ${time} ${node}: ${message}" />
    <env name="ROSCONSOLE_FORMAT" value="$(arg ROSCONSOLE_FORMAT)" />
  
    <group ns="$(arg robot_name)">
      <remap from="/tf" to="tf" />
      <remap from="/tf_static" to="tf_static" />
  
      <node if="$(arg run_costmap_local)" name="costmap_local" pkg="heightmap_to_costmap" type="heightmap_to_costmap_node" respawn="$(arg respawn)" output="$(arg output)">
        <rosparam command="load" file="$(find nve_startup)/config/$(arg platform)/$(arg platform)_heightmap_to_costmap_local_ftm.yaml" />
        <rosparam command="load" file="$(find nve_startup)/config/$(arg platform)/$(arg platform)_filter_chain_local_ftm.yaml" />
      </node>
  
    </group>
  
  </launch>
  