<launch>
    <arg name="robot" default="squash" />
  
    <arg name="output" default="screen" />
    <arg name="respawn" default="true" />
  
    <arg name="run_adj_feature_mapper" default="true" doc="Should FTM traversability estimator be run?" />
    <arg name="run_ndt_te_estimation" default="true" doc="Should FTM traversability estimator be run?" />
  
    <!-- Squash -->
    <arg if="$(eval arg('robot') == 'squash')" name="pack" default="p5" />
    <arg if="$(eval arg('robot') == 'squash')" name="platform" default="squash" />
    <arg if="$(eval arg('robot') == 'squash')" name="robot_name" default="r6" />
    <arg if="$(eval arg('robot') == 'squash')" name="self_strike" default="squash" />
  
    <!-- Rat -->
    <arg if="$(eval arg('robot') == 'rat')" name="pack" default="p18" />
    <arg if="$(eval arg('robot') == 'rat')" name="platform" default="rat" />
    <arg if="$(eval arg('robot') == 'rat')" name="robot_name" default="r1" />
    <arg if="$(eval arg('robot') == 'rat')" name="self_strike" default="rat" />
  
    <arg name="ROSCONSOLE_FORMAT" default="${severity} ${time} ${node}: ${message}" />
    <env name="ROSCONSOLE_FORMAT" value="$(arg ROSCONSOLE_FORMAT)" />
  
    <group ns="$(arg robot_name)">
      <remap from="/tf" to="tf" />
      <remap from="/tf_static" to="tf_static" />
  
      <node pkg="nve_costmap_converter" type="costmap_converter_node" name="costmap_converter_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find nve_costmap_converter)/config/costmap_converter_params.yaml"/>        
        <remap from="~te_cloud_topic" to="scnn_ftm_ros/traversability_cloud" />
      </node> 
   

    </group>
  
  </launch>
  