<launch>
  <arg name="robot" default="fsquash" />

  <arg name="output" default="screen" />
  <arg name="odom_stage" default="high" doc="The Wildcat output stage to use (high or tail)." />
  <arg name="respawn" default="true" />

  <arg name="run_feature_mapper" default="True" doc="Should the feature mapper be run?" />
  <arg name="run_ndt_te_estimation" default="false" doc="Should FTM traversability estimator be run?" />
  <arg name="run_reactive_lmp_planner" default="false" doc="Should tf_completion for colour pipeline" />
  
  <!-- Colour Perception -->
  <arg name="run_colour_fusion" default="false" doc="Should colour_fusion be run?" />

  <!-- Squash -->
  <arg if="$(eval arg('robot') == 'squash')" name="pack" default="p5" />
  <arg if="$(eval arg('robot') == 'squash')" name="platform" default="squash" />
  <arg if="$(eval arg('robot') == 'squash')" name="robot_name" default="r6" />
  <arg if="$(eval arg('robot') == 'squash')" name="self_strike" default="squash" />

  <!-- Squash -->
  <arg if="$(eval arg('robot') == 'fsquash')" name="platform" default="squash" />
  <arg if="$(eval arg('robot') == 'fsquash')" name="robot_name" default="r6" />
  <arg if="$(eval arg('robot') == 'fsquash')" name="self_strike" default="squash" />
  <arg if="$(eval arg('robot') == 'fsquash')" name="pack" default="p9" />

  <arg name="ROSCONSOLE_FORMAT" default="${severity} ${time} ${node}: ${message}" />
  <env name="ROSCONSOLE_FORMAT" value="$(arg ROSCONSOLE_FORMAT)" />

  <group ns="$(arg robot_name)">
    <remap from="/tf" to="tf" />
    <remap from="/tf_static" to="tf_static" />

    <!-- Coverage Map node -->
    <node pkg="collision_mapper" type="collision_mapper_node" name="collision_mapper_node" clear_params="true" output="screen">
      <rosparam command="load" file="$(find collision_mapper)/config/collision_mapper_default.yaml" />

      <param name="world_frame" value="map"/>
      <param name="odom_frame" value="odom"/>
      <param name="robot_frame" value="base_link"/>
      <param name="main_rate" value="0.5" />
      <param name="cs_rate" value="5.0" />
      <param name="visualize_collision_states" value="true" />
      <param name="visualize_collision_map" value="true" />
      <param name="compute_collision_map" value="true" />

      <!-- Remapping -->
      <remap from="~rc_toggle" to="/squash/logging_state" />
      <remap from="~rc_trigger" to="/squash/logging_trigger" />

    </node>
    
    
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_map_odom_broadcaster" args="1 0 0 0 0 0 1 odom map" /> -->

  </group>

</launch>
